* {
    padding: 0;
    margin: 0;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.right-link {
    display: flex;
}