* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 60%;
    margin: auto;
}

.main-container {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.hero {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.hero div {
    flex: 1;
}

.cta {
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    padding: 5px 25px;
    margin-top: 5px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero p, .right-link a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;  
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
}

.right-link {
    display: flex;
    gap: 24px;
}

img {
    display: block;
    height: 100%;
    width: 432px;
    margin-left: auto;
}

.ran-info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.information {
    padding: 50px 0;
    width: 60%;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 144px;
    margin-top: 20px;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 5px;
}